{% extends 'base.html' %}
{% block title %}Signup{%endblock%}
{%block navbar%}
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top shadow-sm" id="mainNav">
            <div class="container px-5">
                <a class="navbar-brand fw-bold" href="{% url 'index' %}">UrlShort</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="bi-list"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto me-4 my-3 my-lg-0">
                       
                    </ul>
                    <a class="btn btn-primary rounded-pill px-3 mb-2 mb-lg-0" href="{% url 'signin' %}">
                        <span class="d-flex align-items-center">
                            <i class="bi-chat-text-fill me-2"></i>
                            <span class="small">Singin</span>
                        </span>
                    </a>
                </div>
            </div>
        </nav>

    {% endblock %}
{% block content %}

<div class="wrapper">
    <div class="logo">
        <img src="https://static.vecteezy.com/system/resources/previews/004/996/790/original/robot-chatbot-icon-sign-free-vector.jpg" alt="">
    </div>
    <div class="text-center mt-4 name">
        Signup
    </div>
    <form class="p-3 mt-3" id="user_form">
        {% csrf_token %}
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="email" name="email" id="email" placeholder="Email">
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="username" name="username" id="username" placeholder="username">
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            <input type="password" name="password" id="pwd" placeholder="Password">
        </div>
        <button class="btn mt-3">Signup</button>
    </form>
    <div class="text-center fs-6">
        Already have an accout?  <a href="{% url 'signin'%}">Singin</a>
    </div>
</div>
<script type="text/javascript">
    $(document).on('submit', '#user_form', function(event) {
        event.preventDefault();
        
        $.ajax({
        type: 'POST',
        url: '{% url "signup" %}',
        data: {
            email: $('#email').val(),
            password: $('#pwd').val(),
            username: $('#username').val(),
            csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
        },
        success: function(response) {
            
            window.location.replace('/app/')
            
        },
        error: function(response){
            alert('An Error Occured, Try Enter Details Correctly, Or Check Your Internet Connection.');
        }
        });
    })
</script>

{% endblock %}
   